#menu-screen img{
    //margin-top: 250px;
    width: 100%;

}

#downloadBtn {
    //background-color: blue;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 50%;
}

#menu-images {
    width: 80%;
    margin: 0 auto;
}